bandit==1.9.4
black==26.5.1
bump-my-version==1.5.1
flake8==7.3.0
isort==8.0.1
pytest==9.1.1
mypy==2.3.0
pytest-cov==7.1.0
pytest-mock==3.15.1
pdbpp==0.12.1
pydocstyle==6.3.0
mkdocs==1.6.1
mkdocstrings==1.0.6
mkdocs-material==9.7.7
mkdocstrings-python==2.0.5
