bandit==1.7.0
black==21.5b2
flake8==3.9.2
isort==5.8.0
mypy==0.901
pytest==6.2.4
pytest-cov==2.12.1
pytest-mock==3.6.1
pdbpp==0.10.2
pydocstyle==6.1.1
mkdocs==1.2
mkdocstrings==0.15.2
mkdocs-material==7.1.7
