bandit==1.7.5
black==23.11.0
bump2version==1.0.1
flake8==6.1.0
isort==5.12.0
pytest==7.4.3
mypy==1.7.1
pytest-cov==4.1.0
pytest-mock==3.12.0
pdbpp==0.10.3
pydocstyle==6.3.0
mkdocs==1.5.3
mkdocstrings==0.24.0
mkdocs-material==9.5.1
mkdocstrings-python==1.7.5
